# Python
backend/venv/
backend/__pycache__/
*.pyc

# Node / Next
frontend/node_modules/
frontend/.next/

# OS
.DS_Store

# Environment files (global)
.env
.env.*

# Backend env
backend/.env
backend/.env.*

# Frontend env
frontend/.env*